* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.875rem;
}

.card-header {
  display: flex;
}

.card-header img {
  border: solid 1px #cfcfcf;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.25em;
}

.user-title {
  font-size: 0.75rem;
  opacity: 50%;
}

.cards {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 300ms ease-in-out;
}

.cards::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transition: opacity 300ms ease-in-out;
}

.cards:hover {
  transform: scale(1.05);
}

.cards:hover::after {
  opacity: 1;
}

.card-title {
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 1em;
}

.card-body {
  margin-top: 1.5em;
  opacity: 70%;
}

.card-1 {
  color: #ecf2f8;
  background-image: url(/bg-pattern-quotation.3944c98d.svg);
  background-repeat: no-repeat;
  background-position: 90% 0%;
  background-color: #7541c8;
}

.card-2 {
  background-color: #48556a;
  color: #ecf2f8;
}

.card-3 {
  background-color: white;
  color: #48556a;
}

.card-4 {
  background-color: #19212e;
  color: white;
}

.card-5 {
  background-color: white;
  color: #48556a;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ecf2f8;
}

.container {
  width: 85%;
  padding: 5em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
}

@media (min-width: 975px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 1300px;
  }

  .cards {
    margin: 0;
    min-height: 300px;
  }

  .card-1 {
    grid-column: 1/span 2;
    max-width: 635px;
  }

  .card-2 {
    grid-column: 3/span 1;
  }

  .card-3 {
    grid-row: 2;
    grid-column: 1;
  }

  .card-4 {
    grid-row: 2;
    grid-column: 2/span 2;
    max-width: 635px;
  }

  .card-5 {
    grid-row: 1/span 2;
  }
}