* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
}

.card-header {
  display: flex;
}

.card-header img {
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.cards {
  background-color: #7541c8;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 1em;
}

.card-body {
  margin-top: 1.5em;
  opacity: 70%;
}

.card-1 {
  margin-top: 5em;
  color: white;
}

.card-2 {
  color: white;
}

.card-3 {
  color: white;
}

.card-4 {
  color: white;
}

.card-5 {
  color: white;
  margin-bottom: 5em;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 85%;
}